<!--chamando a classe -->

@using Oficina.WebPages

@{
    var veiculoAplicacao = new VeiculoAplicacao();

}


@* comentarios = teclas "Ctrl+K+C" *@
<!--comentario -->
<!DOCTYPE html>

<html>
<head>
    <!--IMPORTAR FONTES DO GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veículo</title>

    <!--CONFIGURACAO DE CSS -->
    <style>
        body {
            font-size: 16px;
            font-family: 'Ubuntu', sans-serif;
        }

        label {
            min-width: 100px;
            display: inline-block;
        }

        input, select, button {
            min-width: 200px;
            min-height: 24px;
            margin-bottom: 5px;
        }

            input[type=submit] {
                width: 300px;
            }
    </style>
</head>
<body>
    @if (IsPost)
    {
        veiculoAplicacao.Inserir();

        Response.Redirect("Veiculo");
    }

    <h1>Cadastro de Veículos</h1>
    <hr/>
    <form action="" method="post">
        <!--o atributo "for" serve para o cursor ficar com o foco no objeto escolhido  -->

        <label for="marca">Marca:</label>
        <select name="marca" onchange="obterModelos(this.value)">
            <option value="">Selecione</option>
            @foreach (var marca in veiculoAplicacao.Marcas)
            {
                <option value="@marca.Id" selected="@Convert.ToBoolean(marca.Id.ToString() == veiculoAplicacao.MarcaSelecionada)">@marca.Nome</option>
            }
        </select>
        <br/>
 
        <label for="modelos">Modelos:</label>
        <select name="modelo">
            <option value="">Selecione</option>
            @foreach (var modelo in veiculoAplicacao.Modelos)
            {
                <option value="@modelo.Id">@modelo.Nome</option>
            }
        </select>
        <br/>
        <label for="placa">Placa:</label>
        <input type="text" name="placa" value="" />
        <br/>

        <label for="ano">Ano:</label>
        <input type="text" name="ano" value="" />
        <br/>

        <label for="cor">Cor:</label>
        <select name="cor">
            <option value="">Selecione</option>
            @foreach (var cor in veiculoAplicacao.Cores)
            {
                <option value="@cor.Id">@cor.Nome</option>
            }
        </select>
        <br/>

        <label for="combustivel">Combustpivel:</label>
        <select name="combustivel">
            <option value="">Selecione</option>
            @foreach (var combustivel in veiculoAplicacao.Combustiveis)
            {
                <option value="@((int)combustivel)">@combustivel</option>
            }
        </select>
        <br/>

        <label for="cambio">Combio:</label>
        <select name="cambio">
            <option value="">Selecione</option>
            @foreach (var cambio in veiculoAplicacao.Cambios)
            {
                <option value="@((int)cambio)">@cambio</option>
            }
        </select>
        <br/>

        <label for="observacao">Observação:</label>
        <br/>
        <textarea name="observacao" rows="10" cols="40"></textarea>
        <br/>

        <input type="submit" name="name" value="Gravar" />

    </form>

    <!-- inserir o codigo javascript recarregar a pagina-->
    <script type="text/javascript">
        function obterModelos(marcaId) {
            const nomePagina = document.location.pathname;

            document.location.href = nomePagina + "?marcaId=" + marcaId;
        }
    </script>

</body>
</html>
